default:
 image: docker:latest

stages:
 - build
 - security
 - push

.docker-in-docker:
 services:
  - docker:dind
 variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

build:
 stage: build
 extends:
   - .docker-in-docker
 script:
  - docker build -t testjuice:latest .
  - docker save testjuice:latest > testjuice.tar
 artifacts:
  when: always
  paths:
   - testjuice.tar   

#dependency check (SCA)
snyk:
 stage: security
 image: node:20
 before_script:
  - npm install snyk -g
 script:
  - npm install
  - snyk auth $SNYK_TOKEN
  - snyk test --json-file-output=snyk_report.json --exit-code=0
 allow_failure:
  exit_codes:
   - 1
 artifacts:
  when: always
  paths: [snyk_report.json]

#static code analysis (SAST)
semgrep:
 stage: security
 image: returntocorp/semgrep 
 script:
  - semgrep --config=auto --json --output=semgrep_report.json .
 artifacts:
  when: always
  paths: [semgrep_report.json]

#secret scanning
gitleaks:
 stage: security
 image: 
   name: zricethezav/gitleaks
   entrypoint:
    - ""
 script:
  - gitleaks dir ./ --report-path=gitleaks_report.json --report-format=json --exit-code 0
 artifacts:
  when: always
  paths: [gitleaks_report.json]

#Dynamic application security testing (DAST)
zap:
 stage: security
 extends:
  - .docker-in-docker
 dependencies:
  - build
 script:
   - docker load -i testjuice.tar
   - docker run -d -p 3000:3000 --network host testjuice:latest
   - sleep 20 # waiting for the application to start
   - docker run --network host -v $PWD:/zap/wrk -t zaproxy/zap-stable zap-baseline.py -t http://localhost:3000 -r zap_report.html
 allow_failure:
  exit_codes:
    - 1
    - 2
 artifacts:
   when: always
   paths: [zap_report.html]

#container image scanning
trivy:
  stage: security
  extends:
   - .docker-in-docker
  dependencies:
   - build
  image: 
   name: docker:latest
   entrypoint:
     - ""
  before_script:
   - apk add --no-cache curl
   - curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
  script:
   - docker load -i testjuice.tar
   - trivy image --severity HIGH,CRITICAL --exit-code 0 --format json --output trivy_report.json testjuice:latest
  artifacts:
   when: always
   paths: [trivy_report.json]

push:
 stage: push
 extends:
  - .docker-in-docker
 dependencies:
  - build
 script:
  - echo $DOCKER_TOKEN | docker login -u $DOCKER_USER --password-stdin
  - docker load -i testjuice.tar
  - docker tag testjuice:latest szost/testjuice:V1
  - docker push szost/testjuice:V2
